<footer id="footer" class="bg-light text-center">
  <div id="footercontent" class="text-center p-3">
    © {{currentYear}} Copyright:
    <b class="text-light">ChronicleHub</b>
    <br><br>
    <section class="mb-4">
      <a class="btn btn-primary btn-floating m-1 facebook" role="button">
        <i class="fa-brands fa-facebook-f"></i>
      </a>

      <a class="btn btn-primary btn-floating m-1 twitter" role="button">
        <i class="fa-brands fa-twitter"></i>
      </a>

      <a class="btn btn-primary btn-floating m-1 telegram" role="button">
        <i class="fa-brands fa-telegram"></i>
      </a>

      <a class="btn btn-primary btn-floating m-1 google" role="button">
        <i class="fa-brands fa-google"></i>
      </a>

      <a class="btn btn-primary btn-floating m-1 linkedin" role="button">
        <i class="fa-brands fa-linkedin"></i>
      </a>

      <a class="btn btn-primary btn-floating m-1 pinterest" role="button">
        <i class="fa-brands fa-pinterest"></i>
      </a>

      <a class="btn btn-primary btn-floating m-1 whatsapp" role="button">
        <i class="fa-brands fa-whatsapp"></i>
      </a>

      <a class="btn btn-primary btn-floating m-1 youtube" role="button">
        <i class="fa-brands fa-youtube"></i>
      </a>

      <a class="btn btn-primary btn-floating m-1 github" role="button">
        <i class="fa-brands fa-github"></i>
      </a>
    </section>
  </div>
</footer>